// remify.scss
// @function and @mixin to handle rem<->px value conversion
//
// by Mariusz Ciesla <http://mariusz.cc>

$baseline-px: 10px;

@function remify($px) {
  $baseline-rem: $baseline-px / 1rem;

  @if $px == 0 {
    @return 0;
  }

  @if type-of(px) == "number" {
    @return $px / $baseline-rem;
  } @else {
    $rems: ();

    @each $value in $px {
      @if $value == 0 {
        $rems: append($rems, $value);
      } @else {
        $rems: append($rems, ($value / $baseline-rem));
      }
    }

    @return $rems;
  }
}

@mixin rem($property, $values) {
  #{$property}: $values;
  #{$property}: remify($values);
}
